<div id="map" class="map"></div>
<app-settings-menu></app-settings-menu>
<app-range-rings
  [map]="map"
  [hostPosition]="lastHostPosition!"
  [rotation]="mapRotation"
></app-range-rings>
<div class="button-container">
  <div class="left-buttons">
    <button
      mat-mini-fab
      color="primary"
      class="centering-button"
      (click)="toggleCentering()"
    >
      <mat-icon>{{ centeringIcon }}</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      class="center-position-button"
      (click)="toggleCenterPosition()"
      *ngIf="
        centeringMode === CenteringMode.CenterWithHeading ||
        centeringMode === CenteringMode.CenterWithHeadingOffset
      "
    >
      <mat-icon>{{
        centerPosition === "middle"
          ? "vertical_align_center"
          : "vertical_align_bottom"
      }}</mat-icon>
    </button>
  </div>

  <div class="spacer"></div>

  <button
    mat-mini-fab
    color="primary"
    class="breadcrumb-button"
    (click)="toggleBreadcrumbs()"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
  <span class="breadcrumb-badge" *ngIf="breadcrumbCount > 0">{{
    breadcrumbCount
  }}</span>
</div>

<app-track-info
  *ngIf="selectedTrack && trackInfoPosition"
  [track]="selectedTrack"
  [bullseyePosition]="bullseyePosition"
  [hostPosition]="lastHostPosition"
  [style.top]="trackInfoPosition.top"
  [style.left]="trackInfoPosition.left"
  [style.zIndex]="9999"
  style="position: absolute"
></app-track-info>
